* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

body{
    background-image: url("images/imagemFundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

header{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 3rem;
    width: 60vw;
    height: 2rem;
    font-size: 2rem;
    color: white;
    position: absolute;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.containerInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 45vh;
    align-self: end;
    padding: 2rem;
    gap:15px;
}

.grados{
    color:rgb(255, 255, 255);
    font-size: 9rem;
}

.cidade{
    color:rgb(255, 255, 255);
    font-size: 3rem;
    align-self: center;
}

.barraPesquisa{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: rgba(27, 59, 66, 0.4);
    backdrop-filter:blur(10px);
    width: 30vw;
    height: 100vh;
}

.inputPesquisa{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    font-size: 1.5rem;
    color:aliceblue;
    padding-bottom: 10px ;
    
}
.inputPesquisa:focus{
   outline: none;
}

.containerPesquisa{
 display: flex;
 padding: 2rem;
 align-self: flex-start;
 width: 100%;
 justify-content: space-between;
 padding-top: 4rem;
 padding-left: 3rem;
}

.botaoLupa {
    background-color: transparent;
    border: 2px solid transparent;
    font-size: 1.5rem;
    transition: border 0.2s ease, font-size 0.2s ease;
  }
  
  .botaoLupa:hover {
    border-color: rgba(189, 188, 188, 0.664);
    cursor: pointer;
  }

  .opcoes{
    display: flex;
    justify-content: space-around;
    justify-self: start;
    align-items: flex-start;
    align-self: center;
    color: aliceblue;
    gap: 15px;
    width: 80%;
    height: auto;
    font-size: 1.2rem;
    flex-direction: column;
  }

  .containerResultado{
    margin-top: 24rem;
    border-top: 1px solid rgb(255, 255, 255);
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    justify-self: end;
    align-items: flex-start;
    align-self: center;
    color: aliceblue;
    gap: 15px;
    width: 80%;
    height: auto;
    font-size: 1.2rem;
    flex-direction: column;
  }